registry=https://registry.npmjs.org/
enable-pre-post-scripts=true
http-proxy=http://10.109.0.85:7890
https-proxy=http://10.109.0.85:7890
unsafe-perm=true
ignore-scripts=false
ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npm.taobao.org/mirrors/electron-builder-binaries/